#cameraArea {
    position: relative;
    max-width: 640px;
    text-align: left;
  }
  /* #video3 {
    position: absolute;
    left: 0;
    width: 100%;
  } */
  #canvas {
    /* mix-blend-mode: screen; */
    position: absolute;
    left: 0;
  }
  #emoticonBar {
    position: absolute;
    top: 0;
    right: -30px;
    width: 40px;
    height: 480px;
    border-right: #DDD solid 6px;
  }
  #emoticon {
    position: absolute;
    bottom: 0;
    right: -24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #CCC;
    transition: bottom 0.3s;
  }
  